aiohttp
appdirs
async-timeout
attrs
black
certifi
chardet
click
flake8
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mccabe
multidict
mypy-extensions
pathspec
pycodestyle
pyee
pyflakes
regex
requests
slackclient==2.9.1
slackeventsapi==2.2.1
toml
tornado
typed-ast
typing-extensions
urllib3
Werkzeug
yarl
